/* */
* {
  box-sizing: border-box;
}

html {
  background-color: rgb(29, 29, 29);
}

#travel-blurb {
  font-family: "Rubik Beastly";
  font-size: 48px;
  color: rgb(194, 171, 240);
  -webkit-text-stroke: 1px black;
}

#blurb-icon {
  width: 75px;
  height: auto;
}

.weather-icon {
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: rgb(218, 217, 191);
  border-radius: 50%;
}

header {
  padding: 5px;
  text-align: center;
  flex-wrap: wrap;
}

#hide-first {
  background-image: url("../images/purple-linen-paper-texture.jpg");
  height: fit-content;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.title {
  text-align: center;
  vertical-align: center;
}

.searchbar {
  float: right;
  width: 500px;
  height: 250px;
  padding: 5px;
  border: none;
  font-size: 10px;
  background-color: none;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.background {
  background-image: url("../images/ali-maah-zyOeEm4NsPM-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center 70%;
  height: 400px;
  background-size: cover;
}

.form {
  display: flex;
}

@media screen and (max-width: 800px) {
  main {
    width: 50%;
  }
  aside {
    order: 2;
  }
  input {
    width: 250px;
    height: 20px;
  }
}
