/* */
body {
  font-family: "Source Serif Pro", serif;
  color: #1d0303;

  background-color: #668671;
  border-radius: 30px;
}

.box {
  border: 1em green;
  border-radius: 2em;
  width: 525px;
  height: 150px;
  background-color: #92df9f;
  font-size: 35px;
}

.content-div {
  margin: 25px;
  padding: 50px;
  border: 1em green;
  border-radius: 2em;
  background-color: #87d3a1;
}

header {
  padding: 50px;
  text-align: center;
  flex-wrap: wrap;
}

.searchbar {
  overflow: hidden;
  background-color: none;
}

.searchbar {
  float: right;
  padding: 5px;
  border: none;
  font-size: 10px;
}

/*  nav {
    display: flex;
    flex-wrap: wrap;
    background-color: #87d3a1;
  }  */

main {
  display: flex;
  flex-wrap: wrap;
}

aside {
  flex: 25;
  background-color: #87d3a1;
  padding: 25px;
}

section {
  flex: 5;
  background-color: #87d3a1;
  padding: 25px;
}

.Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slide {
  width: 100%;
  height: 400px;
  background-image: url("../../images/ali-maah-zyOeEm4NsPM-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 80%;
}

footer {
  padding: 35px;
  text-align: center;
}

@media screen and (max-width: 8000px) {
  main {
    width: 50%;
  }
  aside {
    order: 2;
  }
}
