/* */
body {

    font-family: 'Source Serif Pro', serif;
    color: #1d0303; 
    margin: 25px;
    padding: 75px;
    background-color: #668671;
  }
  
  header {
    padding: 5px;
    text-align: center;
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    background-color: #87d3a1;
  }

  main {
    display: flex;
    flex-wrap: wrap;
  }

   aside {
     flex: 1;
     background-color: #87d3a1;
     padding: 25px;

  }
  
  
  section {
    flex: 5;
    background-color: #92df9f; 
    padding: 25px;
  }

.Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  footer {
    padding: 20px;
    text-align: center;
   /* background: #2e3031;
    color: #eee8e8;  */
  }

 
  /*@media screen and (max-width: 200px) {
    .column {
      width: 50%;
    }
  }
  
